.carousel-bar{
  position:relative;
  text-align:center;
  cursor: pointer;
}
/*轮播图列表*/
.carousel{
  margin:0;padding:0;
  list-style-type:none;
  position:relative;
  height:auto;
}
/*轮播图项*/
li.carousel-item{
  margin:0;padding:0;
  position:absolute;
  opacity:0;
  transition:opacity 800ms;
}
/*当前展示图片*/
.carousel-item.active{
  opacity:1;
}
/*图片样式*/
.carousel-item img{
  width:100%;
}
/*轮播图指示器*/
.carousel-pointer{
  margin:0 auto;
  display:inline-block;
  white-space:nowrap;
  text-align:center;
  list-style: none;
}
.carousel-link{
  display:inline-block;
  padding:0 1%;
  margin-top:1%;
  font-weight:bold;
  color:#ccc;
  transition:color 1s;
  
}
.carousel-link:hover,.carousel-link.active{
  margin-top:-1px;
  border-top:1px solid #000;
  color: #000000;
}

/* 轮播图切换按钮 */
.lrBtn > .next-btn,.prev-btn{
  position:absolute;
  width:3.5%;height:25%;
  min-width:30px;min-height:60px;
  top:35%;
  background:rgba(0,0,0,0.6);
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
}
/* 前后箭头 */
.lrBtn span.icon{
  background:url(../image/commons/homeslide_arrow.png) no-repeat;
  width:21px;height: 40px;
  display:inline-block;
}
.lrBtn>.prev-btn{
  left:0;
}
.lrBtn>.prev-btn>span.icon{
  background-position:0 -45px;
}
.lrBtn>.next-btn{
  right:0;
}