*{
  margin:0;padding:0;
  user-select: none;  
}
ul,dl,ol{
  list-style: none;
}
body{
  color:#333;
  background:#fff;
  font-family: tradegothic, fzlthjw, 微软雅黑, "Microsoft YaHei", 黑体, SimHei;
  font-size: 12px;
}
.font-sm{
  font-size:13px;
  line-height:20px;
  margin-bottom:10px;
}
/*分栏标题样式  基本类*/
.sale_title:before{
  content:"";
  display:block;
  height:1px;
  width:97%;
  background:#b7b7b7;
  position:absolute;
  top:50%;left:1.5%;
  z-index:1;
}
.sale_title{
  margin:20px auto;
  max-width:1000px;
  height:30px;
  position: relative;
  text-align:center;
}
.sale_title>h1{
  background:#fff;
  position: relative;
  z-index:5;
  text-align:center;
  display:inline;
  padding:0 40px;
  margin:0 auto;
  font-size:30px;
  line-height: 30px;
  font-weight:normal;
}
/*全站新闻标题样式  基本类*/
.news_title{
  margin:40px auto 20px;
  max-width:1000px;
  height:40px;
  position: relative;
  text-align:left;
  padding-left:20px;
  line-height:40px;
  background:#464646;
}
.news_title:before{
  content:"";
  background:url(../image/home/logo-icon.png) no-repeat;
  width:19px;
  height: 19px;
  display:inline-block;
  vertical-align:middle;
  margin-top:-7px;
}
.news_title>h1{
  text-align:center;
  color:#fff;
  display:inline;
  margin:0 10px;
  font-size:18px;
  font-weight:normal;
}
/*按钮基础类  btn*/
.btn{
  background-color:#000;
  color:#fff;
  cursor:pointer;
  font-size:18px;
  height:40px;
  line-height:38px;
  text-align:center;
  word-wrap:none;
  white-space: nowrap;
  width:100%;
  box-sizing:border-box;
  border:1px solid #000;
  transition:500ms;
  text-decoration:none;
  display:block;
  overflow:hidden;
}
.btn:after{
  background:url(../image/commons/sprites_header_footer.png) no-repeat scroll -10px -164px transparent;
  width:15px;height:28px;
  display:inline-block;
  vertical-align: middle;
  margin-left:12px;
  content: "";
  transition:500ms;
}
.btn:hover{
  background-color:transparent;
  color:#000;
  border:1px solid #999;
}
.btn:hover:after{
  background-position:-43px -164px;
}

/*单个商品      基础类*/
.sale_item{
  width:25%;
  height:300px;
  position:relative;
  font-family:"Impact";
  font-size:14px;
  box-sizing:border-box;
  padding:40px;
  padding-top:0;
  text-align:center;
}
.sale_item img{
  max-width:100%;
  margin-bottom:9.1%;
  transition:300ms;
}
.sale_item .sale_name{
  height:55px;
  margin:0 -10px;
}
/*边框从黑变灰动画*/
@keyframes sale_hover{
  from {border:1px solid #000;}
  to {border:1px solid #ccc;}
}
.sale_item li:not(:last-child){
  min-height:330px;
}
.sale_item:hover{
  animation:sale_hover 500ms;
  animation-fill-mode: forwards;
  padding-left:40px;
  padding-top:1px;
}
.sale_item:hover>dd>img{
  transform:scale(1.1);
}
@media (max-width:768px){
  .sale_item{
    width:50% !important;
    height:350px;
  }
}

/* 选择框基本类 */
.checkbox{
  font-size:14px;
  position:relative;
  padding:1px;
  box-sizing: border-box;
  
}
.checkbox:before{
  display:inline-block;
  content:"";
  width:14px;height:14px;
  border:1px solid #b7b7b7;
  vertical-align: middle;
  margin-right:10px;
  margin-top:-3px;
}
/* 选择框选中 */
.checkbox.checked:before{
  top:20%;
  width:16px;height:16px;
  border:2px solid #000;
  margin-right:6px;
  margin-top:-4px;
  background:url(../image/cartcheck/cart-sprite1.png) no-repeat -3px -181px transparent;
}