*{
  margin:0;padding:0;
  user-select: none;  
}
ul,dl,ol{
  list-style: none;
}
body{
  color:#333;
  background:#fff;
  font-family: tradegothic, fzlthjw, 微软雅黑, "Microsoft YaHei", 黑体, SimHei;
  font-size: 12px;
}
.font-sm{
  font-size:13px;
  line-height:20px;
  margin-bottom:10px;
}
/*分栏标题样式  基本类*/
.sale_title:before{
  content:"";
  display:block;
  height:1px;
  width:97%;
  background:#b7b7b7;
  position:absolute;
  top:50%;left:1.5%;
  z-index:1;
}
.sale_title{
  margin:20px auto;
  max-width:1000px;
  height:30px;
  position: relative;
  text-align:center;
}
.sale_title>h1{
  background:#fff;
  position: relative;
  z-index:5;
  text-align:center;
  display:inline;
  padding:0 40px;
  margin:0 auto;
  font-size:30px;
  line-height: 30px;
  font-weight:normal;
}
/*全站新闻标题样式  基本类*/
.news_title{
  margin:40px auto 20px;
  max-width:1000px;
  height:40px;
  position: relative;
  text-align:left;
  padding-left:20px;
  line-height:40px;
  background:#464646;
}
.news_title:before{
  content:"";
  background:url(../image/home/logo-icon.png) no-repeat;
  width:19px;
  height: 19px;
  display:inline-block;
  vertical-align:middle;
  margin-top:-7px;
}
.news_title>h1{
  text-align:center;
  color:#fff;
  display:inline;
  margin:0 10px;
  font-size:18px;
  font-weight:normal;
}
/*按钮基础类  btn*/
.btn{
  background-color:#000;
  color:#fff;
  cursor:pointer;
  font-size:18px;
  height:40px;
  line-height:38px;
  text-align:center;
  word-wrap:none;
  white-space: nowrap;
  width:100%;
  box-sizing:border-box;
  border:1px solid #000;
  transition:500ms;
  text-decoration:none;
  display:block;
  overflow:hidden;
}
.btn:after{
  background:url(../image/commons/sprites_header_footer.png) no-repeat scroll -10px -164px transparent;
  width:15px;height:28px;
  display:inline-block;
  vertical-align: middle;
  margin-left:12px;
  content: "";
  transition:500ms;
}
.btn:hover{
  background-color:transparent;
  color:#000;
  border:1px solid #999;
}
.btn:hover:after{
  background-position:-43px -164px;
}