/* 顶部登录,菜单栏 */
header{
  width:100%;
  position:fixed;
  top:0;
  z-index:999;
}
.top_func_bar{
  height:80px;
  max-width:100%;
  line-height:80px;
  background:#000;
  display:flex;
  justify-content: space-between;
  padding:0 68px;
  transition:400ms;
}
.top_func_bar>.top_func_bar_logo>img{
  vertical-align: middle;
}
/* 登录,图标部分的ul */
.top_func_bar_login{
  list-style-type: none;
  display:flex;
  flex-wrap:nowrap;
}
/*登录部分按钮,链接*/
.top_func_bar_login>li{
  margin:0 25px;
  padding: 0 27px 0 0;
  white-space:nowrap;
  color:#fff;
  position:relative;
}
/* 登录部分的精灵图 */
.top_func_bar_login>li:not([id="top_login"]):before{
  content:"";
  background-image:url(../image/commons/sprites_header_footer.png);
  background-color:transparent;
  background-repeat: no-repeat;
  width: 30px;height: 31px;
  display:block;
  font-size:18px;
  text-align:center;
  color:#fff;
  position:absolute;
  right:0;top:50%;
  margin-top:-15px;
  margin-right:-15px;
  cursor:pointer;
}
/* 登录/注册中的 / */
.top_func_bar_login>li>span{
  font-weight:bold;
}
/* 登录部分链接样式 */
.top_func_bar_login>li>a{
  text-decoration:none;
  color:#fff;
}
.top_func_bar_login>li>a:hover{
  text-decoration:underline;
}
/* 给li添加active类,则会出现下三角图形*/
.top_func_bar .active:after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 100%;
  width: 0;
  right:-15px;
  z-index:5;
}
/*登录/注册按钮的精灵图*/
.top_login>.before{
  width: 30px;height: 31px;
  background-image:url(../image/commons/sprites_header_footer.png);
  background-position:-96px -85px;
  position:absolute;
  right:0;top:50%;
  margin-top:-15px;
  margin-right:-15px;
}
.top_login:hover>.before{
  background-position:-136px -65px;
}
/* 购物车按钮精灵图 */
.top_shop_car:before{
  background-position:-168px -97px;
}
/* 购物车部分精灵图上数字 */
.top_shop_car_num{
  position:absolute;
  font-size:16px;
  right:-4px;
}
/* 在线聊天按钮精灵图 */
.top_get_chat:before{
  background-position: -95px -54px;
}
.top_get_chat:hover:before{
  background-position:-135px -33px;
}
/* 搜索按钮精灵图 */
.top_search:before{
  background-position: -137px -161px;
}
.top_search:hover:before{
  background-position: -135px -1px;
}
/* 请求帮助部分精灵图 */
.top_help:before{
  background-position: -169px -161px;
}
.top_help:hover:before{
  background-position: -167px -1px;
}
/* 顶部工具栏响应式布局 (媒体查询)*/
@media (max-width:767px){
  .top_func_bar_login>li{
    margin:0 15px;
  }
  .top_func_bar_login>li>a{
    display:none;
  }
  .top_func_bar_login>.top_login>span{
    display:none;
  }
  .top_func_bar{
    padding:0 5%;
  }
  .top_func_bar>.top_func_bar_logo>img{
    height:15px;
  }
}
@media (max-width:576px){
  .top_get_chat{
    display:none;
  }
}
/* 顶部工具栏结束 */

/* 登录 注册 搜索 的展开栏 */
.header_expand{
  width:100%;
  height: auto;
  background:#fff;
}
/* 展开栏基础类 */
.expand_box{
  width:100%;height:100%;
  margin:0 auto;
  position:relative;
  background:#fff;
  max-width:1000px;
  overflow:hidden;
  transition:800ms;
}
/* 登录展开栏 */
.sign_content{
  height:0;
  padding-top:0;
  padding-bottom:0;
  opacity:0;
  box-sizing:border-box;
}
.sign_content.active{
  height:397px;
  padding-top:40px;
  padding-bottom:40px;
  opacity:1;
}
/*登录展开栏中的登录栏和注册栏*/
.sign_content>div{
  height:317px;
  width:100%;
  opacity:0;
  position:absolute;
  transition:1s;
  z-index:1
}
.sign_content div.active{
  opacity: 1;
  z-index:5;
}
/*登录注册内容 基础类*/
.sign_on_top,
.sign_in_top{
  display:flex;
  justify-content:space-between;
  width:100%;
  flex-direction:row;
}
/* 登录部分分栏 */
.login_sign_on{
  width:15%;
}
.login_with{
  width:30%;
  border-left:1px solid #999;
  border-right:1px solid #999;
  margin: 0 6%;
  padding: 0 6%;
}
.login_form{
  width:30%;
}
/*栏目标题基础类 title*/
.title{
  font-size:24px;
  margin:0 0 20px;
}

/* 支付宝微博登陆API按钮 */
#login_to_alipay,#login_to_sina{
  display:inline-block;
  width:40px;height:40px;
  background:url(../image/commons/shareimg.png);
  background-position:0 0;
}
#login_to_sina{
  background-position:0 -240px;
  margin-left:10px;
}
/* 输入框 基本类 */
.form_input{
  width:100%;
  height:40px;
  border:1px solid #999;
  line-height:30px;
  padding:5px 5px 5px 18px;
  box-sizing:border-box;
  background:#fff;
  outline:none;
  margin-bottom:20px;
}
/*验证码按钮*/
.form_auth{
  border:1px solid #ccc;
  border-radius:2px;
  cursor:pointer;
  opacity:1;
  box-sizing:border-box;
  height:44px;
  line-height:38px;
  padding: 2px 0 2px 40px;
  text-align:left;
  color:#666;
  font-size:14px;
  background:linear-gradient(to bottom,#FEFEFE,#f3f3f3);
}
/*验证码按钮 图标缩小动画*/
@keyframes auth_form{
  from{transform:scale(1.0)}
  to{transform:scale(0.4)}
}
/* 验证码按钮获取焦点 */
.form_auth:hover{
  background:linear-gradient(to bottom,#f3f3f3,#FEFEFE);
  
}
/*验证码按钮图标*/
.form_auth:before{
  content:"";
  width:30px;height:30px;
  border-radius:50%;
  border:1px solid rgb(95, 90, 235);
  display:block;
  margin:3px 0 0 -35px;
  float:left;
}
/* 图标引用动画 */
.form_auth:hover:before{
  animation:auth_form 300ms linear infinite alternate
}
.bottombox{
  display:flex;
  line-height:40px;
  justify-content:space-between;
}
/*忘记密码链接*/
.bottombox>a{
  color:#333;
  font-size:14px;
}

.vis-hi{
  visibility: hidden;
}
/*登陆部分响应式(媒体查询)*/
@media (max-width:576px){
  .bottombox{
    flex-direction: column;
  }
  .vis-hi{
    visibility:visible;
  }
  .sign_in_top{
    display:block;
  }
  .sign_content.active{
    height:650px;
  }
  .sign_in_top dl{
    display:block;
    width:100%;
    border:0;
  }
  .login_with{
    display:none !important;
  }
}




/*注册展开栏*/
.sign_on_left,.sign_on_center,.sign_on_right{
  width:33.333%;
}
/*提示信息*/
.sign_on_top .msg{
  margin-top:-20px;
  margin-bottom:10px;
  color:#f00;
  visibility: hidden;
}
/* 注册栏中间部分样式 */
.sign_on_center{
  margin-left:20px;
  margin-right:20px;
  padding-left:20px;
  padding-right:20px;
}

@media (max-width:576px){
  .sign_on_top{
    flex-direction: column;
  }
  .sign_in_top{
    display:block;
  }
  .sign_content.active{
    height:850px;
  }
  .sign_on_top dl{
    display:block;
    width:100%;
    border:0;
  }
  .sign_on_center{
    margin:0;padding: 0;
  }

}




/*搜索展开栏*/
.search_bar{
  width:100%;
  background:#fff;
  height:0;
  overflow:hidden;
  transition:height 500ms;
}
.search_bar.active{
  height:80px;
}
.search_input{
  max-width:1000px;
  margin:0 auto;
  padding:20px 0;
  position:relative;
  
}
.search_input>input{
  width:100%;
  margin:0 auto;
  height:40px;
  outline:none;
  border:0;
  font-size:24px;
  
}
/* 搜索栏两个按钮 */
.go_search,.go_close{
  background-image:url(../image/commons/sprites_header_footer.png);
  background-repeat: no-repeat;
  background-position: -169px -129px;
  width: 30px;height: 31px;
  cursor:pointer;
  position:absolute;
  z-index:10;
  top:25px;right:1px;
}
.go_search{
  right:60px;
  top:26px;
  background-position: -137px -161px;
}
.go_search:hover{
  background-position: -135px -1px;
}
.go_close:hover{
  background-position: -137px -129px;
}


/*导航栏样式*/
.top_nav_bar{
  padding-top:5px;
  width:100%;height:50px;
  background:#464646;
  transition:400ms;
  box-sizing:border-box;
}

/*导航栏ul*/
.top_nav{
  margin:0 auto;
  max-width:630px;
  display:flex;
  list-style-type: none;
  font-size:18px;
  color:#fff;
  width:100%;
  justify-content:space-between;
  white-space: nowrap;
}
/*导航栏li*/
.top_nav_link{
  padding:0 1%;
  cursor: pointer;
}
.link_drop:hover{
  text-decoration:underline;
}
/*每个li的三角形*/
.top_nav_link:after{
  display:block;
  content:"";
  height: 0;width: 0;
  margin:5px auto 0;
  border:6px solid transparent;
  border-top-color: #fff;
}

/*导航栏的下展开栏*/
.nav_dropdown{
  margin-top:5px;
  overflow:visible;
  transition:500ms;
  width: 100%;
  position:relative;
  height:100%;
}
.dropdown-item{
  width: 100%;
  background: #ffffff;
  position:absolute;
  display:inline-flex;
  opacity:0;
  transition:1s;
  z-index:1;
}
.drop_table{
  width: 100%;
  background:#fff;
}
/*控制下拉栏显示  active*/
.dropdown-item.active{
  opacity: 1;
  z-index:5;
}

.drop_table{
  box-sizing:border-box;
  border-bottom:1px solid #999;
}
.drop_row{
  display:flex;
  padding-left:10%;
}
.drop_row:first-child{
  border-bottom:1px solid #999;
}
.drop_row>a{
  font-size:14px;
  color:#333;
  text-decoration:none;
}
.drop_row a img{
  max-width:100%;
}
.drop_row>a:hover{
  text-decoration:underline;
  color:#999;
}
.drop_row>a>span{
  display:block;
  max-width:100%;
  
  height: 0;
  text-align:center;
  position:relative;
  top:-25px;
  white-space: nowrap;
}
@media (max-width:767px){
  .drop_row>a{
    font-size:12px;
  }
  .drop_row>a:last-child>span{
    font-size:9px;
    width:30px;
  }
  .top_nav{
    font-size:14px;
  }
}

