/*首页顶部公告*/
.notice_bar{
  width: 100%;
  padding:10px 0;
}
.notice{
  padding:0 10px;
  text-align:center;
  color:#333;
  overflow:hidden;
  text-decoration:none;
  display:inline-block;
}
/*首页一楼*/
.hot_sale{
  width:100%;
  max-width:1000px;
  margin:35px auto 0;
  /*--------------------用完之后要删除的代码----------------------------------*/
  background:#ff0;height:1000px;
}
/*首页商品分类栏*/
.classify_content{
  display: flex;
  justify-content: space-around;
  padding-top:20px;
}
/*单个类别*/
.classify_item{
  max-width:24%;
  cursor:pointer;
}
.classify_item img{
  display:block;
  max-width:100%;
}
.classify_item a{
  width: 100%;
  display:inline-block;
  font-size:24px;
  text-decoration: none;
  color:#333;
  text-align:center;
}
.classify_item:hover>a{
  text-decoration: underline;
}
.sale_title>.arrow_img{
  background:url(../image/pc/active.png) no-repeat;
  width: 39px;height: 21px;
  position: absolute;
  top:15px;z-index:5;
  /*9%  35%  60%  85%*/
  left:9%;
  transition:1s;
}
/*每一栏*/
.sale_list li{
  display:flex;
}
/*单个商品基础类*/
.sale_item{
  width:25%;
  height:300px;
  position:relative;
  font-size:14px;
  box-sizing:border-box;
}
.sale_item img{
  max-width:100%;
}